body {
    background-color:rgb(173, 186, 200);
    padding-bottom: 30px;
}

pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    margin: .1rem 0 0 0;
}

code {
    background-color: #eee;
    border: 1px solid #999;
    padding: 3px;
    color: red;
}

header {
    background-color:darkslateblue
}

h1 {
    padding: 1rem;
    color: gold;
}

li {
    padding: .2rem 0;
}

p {
    padding-left: 1rem;
}

footer {
    padding: .5rem 0;
    text-align: center;
}

.indent {
    padding-left: 2rem;
}

.resources a{
   display: block;
   padding: .3em 0; 
}

.table-of-contents a {
    display: block;
    padding: .5rem;
    margin-left: 2.5rem;
}

.code-example {
    margin: .2rem 0 .1rem 2rem;
}

.note {
    margin: 0 0 .1rem 0rem;
    font-size: 12px;
}